/* MOBILE NAV CSS STYLES */
/* The Component */
#MobileMenuContainer {
    display: none;
    z-index: 2000;
    position: relative;

}
#MobileMenuContainer header .btn-menu {
    z-index: 2000;
    position: absolute;
    top: 20px;
    left: 10px;
    display: none;
	background: transparent;
	cursor: pointer;
	
	width: 26px;
	height: 16px;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}
#MobileMenuContainer header {
    color: #212121;
    
    margin: 20px auto;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    position: relative;
    height: 55px;
}
#MobileMenuContainer header h1 {
    font-weight: 400;
}


@media only screen and (max-width: 786px) {
    #MobileMenuContainer, #MobileMenuContainer header .btn-menu {
        display: block;
    }
}


#MobileMenuContainer header .btn-menu:before,
#MobileMenuContainer header .btn-menu:after,
#MobileMenuContainer header .btn-menu span {
	background-color: #ba2424;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

#MobileMenuContainer header .btn-menu:before,
#MobileMenuContainer header .btn-menu:after {
	content: "";
	position: absolute;
	top: 0;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}

#MobileMenuContainer header .btn-menu span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: 50%;
	overflow: hidden;
	text-indent: 200%;
}

#MobileMenuContainer header .btn-menu:before {
	-webkit-transform: translate3d(0, -7px, 0);
	        transform: translate3d(0, -7px, 0);
}

#MobileMenuContainer header .btn-menu:after {
	-webkit-transform: translate3d(0, 7px, 0);
            transform: translate3d(0, 7px, 0);
}

#MobileMenuContainer header .btn-menu.active span {
	opacity: 0;
}

#MobileMenuContainer header .btn-menu.active:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
}

#MobileMenuContainer header .btn-menu.active:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
}



#MobileMenu {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out, background 1s ease-out;
    transition: all 0.5s ease-out, background 1s ease-out;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    z-index: 1000;
    

}

#MobileMenu.mobile_menu_active {
    padding: 20px;
    height: 100%;
    background-color: #000;
    -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
}


/* The ul */
#mobile_menu_items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
#mobile_social_menu {
    padding-top: 40px;
    border-top: 1px solid #fff;
    margin-top: 20px;
}


#MobileMenu.mobile_menu_active li.mobile_menu_item {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
  #MobileMenu.mobile_menu_active li.mobile_menu_item:nth-child(1) {
    -webkit-transition-delay: 0.27s;
            transition-delay: 0.27s;
  }
  #MobileMenu.mobile_menu_active li.mobile_menu_item:nth-child(2) {
    -webkit-transition-delay: 0.34s;
            transition-delay: 0.34s;
  }
  #MobileMenu.mobile_menu_active li.mobile_menu_item:nth-child(3) {
    -webkit-transition-delay: 0.41s;
            transition-delay: 0.41s;
  }
  #MobileMenu.mobile_menu_active li.mobile_menu_item:nth-child(4) {
    -webkit-transition-delay: 0.48s;
            transition-delay: 0.48s;
  }
  #MobileMenu.mobile_menu_active li.mobile_menu_item:nth-child(5) {
    -webkit-transition-delay: 0.55s;
            transition-delay: 0.55s;
  }
  #MobileMenu.mobile_menu_active li.mobile_menu_item:nth-child(6) {
    -webkit-transition-delay: 0.62s;
            transition-delay: 0.62s;
  }
  #MobileMenu.mobile_menu_active li.mobile_menu_item:nth-child(7) {
    -webkit-transition-delay: 0.69s;
            transition-delay: 0.69s;
  }
/* The li */
.mobile_menu_item  a {
    color: inherit;
    font-size: 15px;
}
.mobile_menu_item {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    border: none;
    color: #fff;
    padding: 10px;
    -webkit-transform: scale(1.15) translateY(-30px);
            transform: scale(1.15) translateY(-30px);
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
li.mobile_menu_item:nth-child(1) {
    -webkit-transition-delay: 0.49s;
            transition-delay: 0.49s;
  }

  li.mobile_menu_item:nth-child(2) {
    -webkit-transition-delay: 0.42s;
            transition-delay: 0.42s;
  }

  li.mobile_menu_item:nth-child(3) {
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }

  li.mobile_menu_item:nth-child(4) {
    -webkit-transition-delay: 0.28s;
            transition-delay: 0.28s;
  }

  li.mobile_menu_item:nth-child(5) {
    -webkit-transition-delay: 0.21s;
            transition-delay: 0.21s;
  }

  li.mobile_menu_item:nth-child(6) {
    -webkit-transition-delay: 0.14s;
            transition-delay: 0.14s;
  }

  li.mobile_menu_item:nth-child(7) {
    -webkit-transition-delay: 0.07s;
            transition-delay: 0.07s;
  }

/* SEARCH CSS STYLES */
.triggers .menu-toggle {
    display: none;
}
.triggers .search-trigger {
    display: inline-block;
    font-size: 17px;
    color: #000000;
}
#mainnav > ul > li:last-child > a {
    padding: 0!important;
}
.site-title a {
    font-family: "Poppins", sans-serif;
    font-color: #333!important;
    font-size: 30px!important;
}
.search-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255, .8) 60%, rgba(255,255,255, .2));
    opacity: 0;
    visibility: hidden;
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.search-wrap .search-form {
    width: 80%;
    display: block;
	margin: auto;
    /*-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}
.search-wrap .search-form label, legend {
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;
    margin-bottom: .6rem;
    color: black;
    display: block;
}
.search-wrap .search-form input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
	font-family: 'Merriweather', serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    height: 5.4rem;
    line-height: 5.4rem;
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    background: none;
    color: #151515;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: none!important;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-wrap .close-btn {
    position: fixed;
    display: block;
    width: 45px;
    height: 45px;
    top: 21px;
    left: 50%;
    margin-left: -23px;
	color: #333!important;
}
#Nav.search-visible .search-wrap {
	opacity: 1;
	visibility: visible;
}

.search--open .search__suggestion:nth-child(2) {
	transition-delay: 0.1s;
}

.search--open .search__suggestion:nth-child(3) {
	transition-delay: 0.2s;
}


/* SEARCH SECTION  */
.search-wrap .search-form {
    position: relative;
}
.search-result-thumbnail {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-right: 20px;
}
.search-result-thumbnail img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}
.search-result-item-title {
    color: #333;
    text-align: left;
    padding: 10px;
}
.search-result-item-title a {
    color: inherit;
    text-decoration: none;
}
.search-result {
    border-bottom: 1px solid #eee;
    width: 80%;
    margin: auto;
    display: block;
}

/* submenu */
#search-results {
    position: relative;
    height: 0;
    transition: all .5s;
}
#search-results .search-menu {
	text-align: left;
	position: absolute;
	left: 0;
	/* top: 150%; */
	width: 100%;
	z-index: 9999;
	z-indexms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	opacity: 0;  
	visibility: hidden;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	 -o-transition: all 0.6s ease-in-out;
	    transition: all 0.6s ease-in-out;
}
.search-wrap.search-active form .search-submit {
    display: none;
}
.search-wrap.search-active form {
    height: 100px;
    margin-top: 100px;
}
#search-results.search-active {
    height: 100%;
}
#search-results.search-active .search-menu {
	/* top: 100%; */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	   filter: alpha(opacity=100);
	  opacity: 1;
	visibility: visible;
}